h1 {
  flex-wrap: wrap;
  background-color: black;
  font-size: 20px;
  color: brown;
  text-align: center;
  padding: 50px;
}
.p1 {
  flex-wrap: wrap;
  background-color: aqua;
  color: blue;
  align-content: space-around;
  text-align: center;
  font-size: 15px;
}
.header__link {
  color: #000;
  text-decoration: none;
}
